@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="btn btn-success mt-3" asp-controller="Dane" asp-action="Form">Przejdź do formularza</a>
</div>
